:root {
    --input-border-focus: limegreen;
}

#top-nav {
    white-space: nowrap;
    display: inline-block;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

#top-nav > * {
    display: inline-block;
    font-size: 2em;
    margin:0;
    padding: 10px;
}

#top-nav > span {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

#top-nav > span > a {
    text-decoration: none;
    text-decoration-line: none;
    color: #08c;
    transition: color 0.5s;
}

#top-nav > span > a:hover, #top-nav > span > a:focus {
    color: #005580;
}


#sensor_section {
    /* border: 2px solid gray;
    border-radius: 10px; */
    padding: 5px;
}

#addSensorForm {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
}


#addSensorForm > *:not(button) {
    display: inline-block;
}

#colour {
    height: 30px;
}

#converter_section {
    /* border: 2px solid gray;
    border-radius: 10px; */
    padding: 5px;
}

#addConverterForm {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 5px;
}

#addConverterForm > *:not(button) {
    display: inline-block;
}

#basic_config_form, #network_config_form, #datetime_config_form, #device_config_form, #action_config_form {
    display: none;
}

.applyChangesButton {
    display: none;
    width: 180px;
    height: 60px;
    margin: 20px;
    line-height: 60px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    transition: 0.2s;
    background-color: transparent;
    border: 1px solid #7a18ec;
}

.applyChangesButton:active {
    border: 2px solid rgb(255, 102, 0);
    letter-spacing: 3px;
    border-radius: 12px;
}

.colourBox {
    border-radius: 15px;
}


/* input:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}  */

.sensor-info-tooltip {
    display: inline;
    margin-left: 10px;
}

.sensor-info-tooltip[data-tooltip]::before {
    margin-left: 40px;
    margin-top: -10px;
}

.tabulator {
    width: min-content;
}

.tabulator-cell {
    width: 125px;
}
